<h2>Biznz</h2>

<ul>
  <li>{{link-to 'Home' 'index'}}</li>
  <li>{{link-to 'Tunes' 'tunes'}}</li>
   
</ul>

{{md-badge class="new" text="6"}}

<hr>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}